body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d1d1d1; /* A light grey background */
    color: #333;
}

h1 {
    color: #5c00b3;
}

p {
    color: #2d6b53;
    line-height: 1.6;
}